body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f1;
  color: #2f3e34;
}

#app {
  max-width: 640px;
  margin: auto;
  padding: 30px;
}

.screen { display: none; }
.screen.active { display: block; }

button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #588157;
  color: white;
  margin-top: 16px;
}

.secondary {
  background: transparent;
  color: #588157;
}

input, textarea {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #ccd5ae;
}

.option {
  border: 1px solid #ccd5ae;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.option.active {
  background: #e9f5ec;
}

.day {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #ccd5ae;
  margin-bottom: 10px;
}

.day.locked {
  opacity: 0.4;
}

.package {
  border: 1px solid #ccd5ae;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 14px;
}
.package.recommended {
  border: 2px solid #588157;
  background: #e9f5ec;
}

